:root {
  --background-primary-color: #6c63ff;
  --h1-font-family: "Playfair Display", serif;
  --other-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

h4 {
  font-family: var(--other-font-family);
  font-size: 24px;
  font-weight: 400;
  color: #272142;
  line-height: 2;
}

h3 {
  font-family: var(--other-font-family);
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}

h2 {
  font-size: 62px;
  font-family: var(--h1-font-family);
}

p {
  font-family: var(--other-font-family);
  font-size: 16px;
  line-height: 2;
  color: #272142;
  opacity: 70%;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  font-family: var(--h1-font-family);
  line-height: 1.2;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--other-font-family);
  font-weight: bold;
}

.about-section img {
  max-height: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.about-section-content {
  margin: 30px;
}

.contact-links {
  padding: 20px 0;
}

.contact-section {
  background-color: #f9f7fe;
  border-radius: 4px;
  margin: 30px 110px;
  padding: 30px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
}

.contact-section a {
  text-decoration: none;
  color: #272142;
  font-size: 22px;
  font-family: var(--other-font-family);
  opacity: 70%;
}

.contact-section h2 {
  font-family: var(--h1-font-family);
  font-size: 48px;
  font-weight: bold;
  padding: 10px 0;
}

.contact-section h5 {
  font-family: var(--other-font-family);
  font-size: 22px;
  font-weight: bold;
}

.intro {
  background-color: #f9f7fe;
  text-align: center;
  padding: 276px 0;
}

.intro-button {
  background-color: var(--background-primary-color);
  padding: 18px 30px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-family: var(--other-font-family);
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--background-primary-color);
  border: 1px solid var(--background-primary-color);
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--other-font-family);
  line-height: 27px;
}

.yoga-app-content {
  padding: 30px 0 0 20px;
}

.weather-app-content {
  display: block;
  text-align: right;
  padding: 80px 20px 0 0;
}

.world-clock-app-content {
  padding: 40px 0 0 20px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }

  .about-section {
    padding: 0;
    text-align: center;
  }

  .intro {
    background-color: #f9f7fe;
    text-align: center;
    padding: 80px 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
