:root {
  --background-primary-color: #6c63ff;
  --h1-font-family: "Playfair Display", serif;
  --other-font-family: "Poppins", sans-serif;
}

h1 {
  font-family: var(--h1-font-family);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

h4 {
  font-family: var(--other-font-family);
  font-size: 24px;
  font-weight: 400;
  color: #272142;
  line-height: 2;
}

h3 {
  font-family: var(--other-font-family);
  font-weight: bold;
  font-size: 36px;
  color: #272142;
}

h2 {
  font-size: 62px;
  font-family: var(--h1-font-family);
}

p {
  font-family: var(--other-font-family);
  font-size: 16px;
  line-height: 2;
  color: #272142;
  opacity: 70%;
}

.intro {
  background-color: #f9f7fe;
  text-align: center;
  padding: 276px 0;
}

.intro-button {
  background-color: var(--background-primary-color);
  padding: 18px 30px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-family: var(--other-font-family);
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--background-primary-color);
  border: 1px solid var(--background-primary-color);
  padding: 18px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-family: var(--other-font-family);
  line-height: 27px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 44px;
  }

  .intro {
    background-color: #f9f7fe;
    text-align: center;
    padding: 80px 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
